.buy{
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  h2 {
    color: #c8006d;
    font-size: 4rem;
    margin: 0;
  }
.buy-black {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
}
.buy-content {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  h1 {
    font-size: 1.2rem;
  }
}
.one-line {
  display: flex;
  #pink {
    color: #c8006d;
    margin-left: 1rem;
    cursor: pointer;
  }
}
.calendar {
  background: black;
  border: 1px solid #c8006d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 9rem;
    h1 {
        font-size: 1rem;
    }
}
#left-arrow,
#right-arrow{
    width: 1rem;
  height: 1rem;
  background: #c8006d;
  border: 0;
  margin-right: 0.5rem;
  &:hover {
    background: #ffffff;
    cursor: pointer;
  }
}
#left-arrow {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
#right-arrow {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.seats {
    button {
        background: #c8006d;
        border-radius: 10px;
        border: 1px solid gray;
        width: 4rem;
        height: 2rem;
        font-size: 1.2rem;
        color: white;
        margin: 1rem 0;
        &:hover {
          cursor: pointer;
        }
    }
    .left{
      flex-direction: column;
    }
}

.row {
    display: flex;
    button {
        width: 3rem;
        height: 3rem;
        margin: 0.2rem;
        &:hover {
          cursor: pointer;
        }
      }
  }

#green {
  background-color: green;
  &:hover {
    background-color: rgb(1, 163, 1);
  }
}
#white-bg {
  background-color: white;
  &:hover {
    background-color: rgb(236, 236, 236);
  }
}
#red {
  background-color: red;
  &:hover {
    background-color: rgb(196, 39, 39);
  }
}
.buy-black {
  background: rgba(0, 0, 0, 0.699);
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  padding-top: 3rem;
}
.buy-display {
  width: 50rem;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.separator {
  background: white;
  width: 1px;
  height: 1rem;
  margin: 0 0.5rem;
  color: white;
}
.buy-display {
    .left,
    .right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.buy-display {
    .right {
        padding: 0 2rem;
          p {
          padding: 1rem 1rem;
          font-size: 1rem;
          background: rgba(0, 0, 0, 0.541);
          border-radius: 20px;
        }
      }
}
.description {
  width: 120%;
  display: flex;
}
#pink {
  color: #c8006d;
}
#white {
  color: white;
  font-size: 1rem;
}
.big-line {
  height: 6rem;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 3rem;
}
.hour-line {
  height: 6rem;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}
.line {
  height: 50%;
  display: flex;
  align-items: center;
  width: 50%;
    select {
        background: rgba(0, 0, 0, 0);
        border: 0;
        border-bottom: 1px solid gray;
        width: 3rem;
        height: 2rem;
        font-size: 1.2rem;
        color: #c8006d;
    }
}
.city-div {
  width: 50%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  select {
    background: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid gray;
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #c8006d;
  }
}
.hour {
  background: rgba(0, 0, 0, 0.5);
  width: 8rem;
  height: 4rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #c8006d;
  h1 {
    font-size: 1rem;
    color: white;
    margin: 0;
  }
  h2 {
    font-size: 1.4rem;
    color: white;
    margin: 0;
  }
  &:hover {
    background: #c8006d;
    cursor: pointer;
  }
}

.seats {
  display: flex;
  width: 100%;
  .left,
  .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.right {
    .line{
        h1 {
            font-size: 1.2rem;
            color: #c8006d;
            margin-left: 1rem;
          }
    }
}
}
@media only screen and (max-width: 1100px) {
  .buy{
    .buy-display {
      h2{
          font-size: 2.5rem;
        }
    }
    .hour{
      width:6rem;
      height:3rem;
      margin: 0.5rem;
      h2{
          font-size: 1.2rem;
        }
        h1{
          font-size: 1rem;
        }
    }
    .hour-line{
      margin-top: 0rem;
      margin-bottom:4rem;
      .line{
          display: grid;
          grid-template-columns: auto auto auto auto;
        }
    }
    .seats{
      width:60%;
    }
    .row {
      button{
          width:2rem;
          height: 2rem;
          margin: 0 0.1rem;
        }
    }
    .right {
        .line{
          select,
          h1{
            font-size: 1rem;
          }
        }
    }
    .city-div{
      height:2rem;
    }
  }
  }
  
@media only screen and (max-width: 650px) {
  .buy{
    .buy-content{
      .one-line{
          h1{
              font-size: 1rem;
            }
      }
    }
    .buy-display{
      h2{
          font-size: 2.0rem;
        }
    }
    .hour{
      width:5rem;
      height:3rem;
      margin: 0.5rem;
       h2{
          font-size: 1.0rem;
        }
        h1{
          font-size: 0.8rem;
        }
    }
    
    .hour-line{
      margin-top: 0rem;
      margin-bottom:4rem;
      .line{
          display: grid;
          grid-template-columns: auto auto auto;
        }
    }
    .seats{
      width:60%;
      button{
          font-size: 1rem;
          width:3.5rem;
        }
    }
    .row{
      button{
          height:1.2rem;
          width:1.2rem;
          margin: 0 0.1rem;
        }
    }
    .big-line{
      width:50%;
    }
    .city-div {
      select{
          font-size: 1rem;
        }
    }
    .calendar{
      width:8rem;
      h1{
          font-size: 0.8rem;
        }
    }
    .right {
        .line{
          select,
          h1{
            font-size: 1rem;
          }
        }
    }
    .city-div{
      height:2rem;
    }
    .seats{
      width:30%;
    }
  }
  
}
@media only screen and (max-width: 450px) {
  .buy{
    .buy-display{
      h2{
          font-size: 2.5rem;
        }
    }
    .hour{
      width:6rem;
      height:3rem;
      margin: 0.5rem;
      h2{
          font-size: 1.2rem;
      }
      h1{
          font-size: 1rem;
      }
    }
    .hour-line{
      margin-top: 0rem;
      margin-bottom:4rem;
      .line{
          display: grid;
          grid-template-columns: auto auto auto auto;
        }
    }
    
    .seats{
      width:60%;
    }
    .row{
      button{
          width:2rem;
          height: 2rem;
          margin: 0 0.1rem;
        }
    }
    .right{
        .line{
          select,
          h1{
            font-size: 1rem;
          }
        }
    }
    .city-div{
      height:2rem;
    }
  }
}
@media only screen and (max-width: 650px) {

  .buy{
    .buy-display{
      h2{
          font-size: 1.5rem;
        }
    }
    .hour{
      width:5rem;
      height:3rem;
      margin: 0.5rem;
      h2{
          font-size: 1rem;
        }
        h1{
          font-size: 0.7rem;
        }
    }
    .seats{
      width:30%;
      button{
          font-size: 1rem;
          width:3.5rem;
        }
    }
    .big-line{
      width:35%;
    }
    .hour-line{
      .line{
          display: grid;
          grid-template-columns: auto auto auto;
        }
    }
    .city-div{
      select{
          font-size: 1rem;
        }
    }
    
    .calendar{
      width:8rem;
      h1{
          font-size: 0.7rem;
      }
    }
    .row {
      button{
          height:1.0rem;
          width:1.0rem;
          margin: 0 0.1rem;
        }
    }
    .right{
        .line{
            select{
              font-size: 1rem;
  
            }
            h1{
              margin:0;
              font-size: 0.8rem;
            }
        }
    }
    .city-div{
      height:2rem;
      select{
          width:8rem;
        }
    }
    
  }
  
}
