a {
    text-decoration: none;
    color: #c8006d;
  }
  .repertoire {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .city-div {
        width: 60%;
        height: 4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        select {
            background: rgba(0, 0, 0, 0);
            border: 0;
            border-bottom: 1px solid gray;
            width: 10rem;
            height: 2rem;
            font-size: 1.2rem;
            color: #c8006d;
          }
      }
      .line a {
        color: white;
      }
      .hour{
            width: 6rem;
            height: 4rem;
            margin-right: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1px solid #c8006d;
            h1 {
                font-size: 1rem;
              }
            h2 {
                font-size: 1.4rem;
                margin-top: 0;
            }
          &:hover {
            background: #c8006d;
            cursor: pointer;
          }
      }
      h1,
      h2 {
        margin: 0;
      }
      .films {
        width: 60%;
        display: flex;
        flex-direction: column;
      }
      .film {
        height: auto;
        width: 100%;
        border-bottom: 1px solid gray;
        display: flex;
        h1 {
            font-size: 1rem;
          }
          h2 {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-top: 2rem;
          }
      }
      .calendar {
        background: black;
        border: 1px solid #c8006d;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 9rem;
        margin-left: 2rem;
        h1 {
            font-size: 1rem;
          }
      }
      .left {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .middle {
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: 0 3%;
      }
      .big-line {
        height: 6rem;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .p-line {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .b-line {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
      }
      .line {
        height: 50%;
        display: flex;
        align-items: center;
        width: 100%;
      }
      .right {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
      }
      .left img {
        width: 10rem;
        height: 15rem;
        -webkit-box-shadow: 0px 0px 29px -23px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 0px 29px -23px rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 29px -23px rgba(255, 255, 255, 1);
      }
      #pink {
        color: #c8006d;
      }
      #centered {
        justify-content: center;
      }
      #gray {
        color: gray;
      }
      #hours{
        margin-top: 1rem;
      }
      
  }
  

  @media only screen and (max-width: 1300px) {
      .repertoire{
        .films {
            width: 80%;
          }
      }
    
  }
  @media only screen and (max-width: 1100px) {
    .repertoire{
        .hour {
            width: 5rem;
            height: 3rem;
            margin-right: 0.5rem;
            h1 {
                font-size: 0.8rem;
              }
            h2 {
                font-size: 1.2rem;
                margin-top: 0;
            }
          }
    }
    
  }
  @media only screen and (max-width: 900px) {
      .repertoire{
        .film h1 {
            font-size: 0.7rem;
          }
          .film{
            h2 {
                font-size: 1rem;
                text-transform: uppercase;
                margin-top: 2rem;
              }
          }
          .big-line {
            height: 5rem;
          }
          .middle{
            p {
                font-size: 0.8rem;
              }
          }
          .left{
            img {
                width: 8rem;
                height: 12rem;
              }
          }
          .hour{
            width: 4.5rem;
            height: 2.5rem;
            margin-right: 0.3rem;
            margin-bottom:0.3rem;
            h1 {
                font-size: 0.7rem;
              }
            h2 {
                font-size: 1rem;
                margin-top: 0;
              }
          }
          #hours {
            display: grid;
            grid-template-columns: auto auto auto auto;
            margin:0;
          }
      }
    
  }
  @media only screen and (max-width: 700px) {
      .repertoire{
        .films {
            width: 95%;
          }
           #hours {
            grid-template-columns: auto auto auto;
          }
          .left{
            width:40%;
          }
          .middle{
            width:50%;
          }
          .right{
            width: 3%
          }
          .film{
            height: 27rem;
          }
          .city-div{
            select{
                font-size: 1rem;
              }
          }
          .calendar{
            h1{
                font-size: 0.8rem;
              }
          }
      }
    
  }
  @media only screen and (max-width: 500px) {
      .repertoire{
        .hour{
            width: 4rem;
            height:2rem;
            h2{
                font-size: 0.8rem;
              }
              h1{
                font-size: 0.7rem;
              }
          }
          
          .city-div{
            select{
                font-size: 0.8rem;
              }
          }
          .calendar{
            h1{
                font-size: 0.7rem;
              }
          }
            #hours {
            grid-template-columns: auto auto;
          }
        }
      }
    
  @media only screen and (max-width: 400px) {
      .repertoire{
        .separator{
            margin: 0 0.2rem;
          }  
      }
    
  }