.repertoire {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
}
.repertoire h1,
.repertoire h2 {
  margin: 0;
}
.repertoire a {
  text-decoration: none;
  color: #c8006d;
}
.repertoire .city-div {
  width: 60%;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.repertoire .city-div select {
  background: rgba(0, 0, 0, 0);
  border: 0;
  border-bottom: 1px solid gray;
  width: 10rem;
  height: 2rem;
  font-size: 1.2rem;
  color: #c8006d;
}
.repertoire .line a {
  color: white;
}
.repertoire .films {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.repertoire .film {
  height: auto;
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
}
.repertoire .film h1 {
  font-size: 1rem;
}
.repertoire .film h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 2rem;
}
.repertoire .separator {
  background: white;
  width: 1px;
  height: 1rem;
  margin: 0 0.5rem;
  color: gray;
}
.repertoire .calendar {
  background: black;
  border: 1px solid #c8006d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 2rem;
  width: 9rem;
  margin-left: 2rem;
}
.repertoire .calendar h1 {
  font-size: 1rem;
}
.repertoire #left-arrow,
.repertoire #right-arrow {
  width: 1rem;
  height: 1rem;
  background: #c8006d;
  border: 0;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  margin-right: 0.5rem;
}
.repertoire #right-arrow {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.repertoire #left-arrow:hover,
.repertoire #right-arrow:hover {
  background: #ffffff;
  cursor: pointer;
}
.repertoire .hour {
  width: 6rem;
  height: 4rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #c8006d;
}
.repertoire .hour h1 {
  font-size: 1rem;
}
.repertoire .hour h2 {
  font-size: 1.4rem;
  margin-top: 0;
}
.repertoire .hour:hover {
  background: #c8006d;
  cursor: pointer;
}
.repertoire .left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.repertoire .middle {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 3%;
}
.repertoire .big-line {
  height: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.repertoire .p-line {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.repertoire .b-line {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
.repertoire .line {
  height: 50%;
  display: flex;
  align-items: center;
  width: 100%;
}
.repertoire .right {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.repertoire .left img {
  width: 10rem;
  height: 15rem;
  -webkit-box-shadow: 0px 0px 29px -23px #ffffff;
  -moz-box-shadow: 0px 0px 29px -23px #ffffff;
  box-shadow: 0px 0px 29px -23px #ffffff;
}
.repertoire #pink {
  color: #c8006d;
}
.repertoire #centered {
  justify-content: center;
}
.repertoire #gray {
  color: gray;
}
.repertoire #hours {
  margin-top: 1rem;
}
@media only screen and (max-width: 1300px) {
  .repertoire .films {
    width: 80%;
  }
}
@media only screen and (max-width: 1100px) {
  .repertoire .hour {
    width: 5rem;
    height: 3rem;
    margin-right: 0.5rem;
  }
  .repertoire .hour h1 {
    font-size: 0.8rem;
  }
  .repertoire .hour h2 {
    font-size: 1.2rem;
    margin-top: 0;
  }
}
@media only screen and (max-width: 900px) {
  .repertoire .film h1 {
    font-size: 0.7rem;
  }
  .repertoire .film h2 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 2rem;
  }
  .repertoire .big-line {
    height: 5rem;
  }
  .repertoire .middle p {
    font-size: 0.8rem;
  }
  .repertoire .left img {
    width: 8rem;
    height: 12rem;
  }
  .repertoire .hour h2 {
    margin: 0;
  }
  .repertoire .hour {
    width: 4.5rem;
    height: 2.5rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .repertoire .hour h1 {
    font-size: 0.7rem;
  }
  .repertoire .hour h2 {
    font-size: 1rem;
    margin-top: 0;
  }
  .repertoire #hours {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0;
  }
}
@media only screen and (max-width: 700px) {
  .repertoire .films {
    width: 95%;
  }
  .repertoire #hours {
    grid-template-columns: auto auto auto;
  }
  .repertoire .left {
    width: 40%;
  }
  .repertoire .middle {
    width: 50%;
  }
  .repertoire .right {
    width: 3%;
  }
  .repertoire .film {
    height: 27rem;
  }
  .repertoire .city-div select {
    font-size: 1rem;
  }
  .repertoire .calendar h1 {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 500px) {
  .repertoire .hour {
    width: 4rem;
    height: 2rem;
  }
  .repertoire .hour h2 {
    font-size: 0.8rem;
  }
  .repertoire .hour h1 {
    font-size: 0.7rem;
  }
  .repertoire .city-div select {
    font-size: 0.8rem;
  }
  .repertoire .calendar h1 {
    font-size: 0.7rem;
  }
  .repertoire #hours {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 400px) {
  .repertoire .separator {
    margin: 0 0.2rem;
  }
}
