@main-color: #c8006d;
@gray: #a3a3a3;
.flex(@justify-content: center, @align-items: center, @flex-direction: row){
    display: flex;
    justify-content: @justify-content;
    align-items: @align-items;
    flex-direction: @flex-direction;
}
.big-div(){
    width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
}
.color-hover(@color){
    background-color: @color;
  &:hover {
    background-color: lighten(@color, 10%);
  }
}
